.env
.env.*
.git
.gitignore
.gitattributes
.vscode
.idea
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/views/.gitkeep
!storage/logs/.gitkeep
tests
docker-compose.yml
phpunit.xml
*.md
.editorconfig
